@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  code {
    @apply text-sm;
  }

  .shiki {
    counter-reset: line;
  }

  .shiki .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 3ch;
    margin-right: 1.5ch;
    text-align: right;
    color: #475569;
    user-select: none;
  }
}
